@import '../../../style/libs/include-media';
@import '../../../style/vars/default';

.chartHeader:global(.ui.grid) {
  justify-content: space-between !important;
  align-content: center !important;

  > * {
    width: auto !important;
  }

  h3 {
    color: $brand-secondary;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 30/1000 + em;
  }
}

.chartPeriod {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px;
  color: $brand-secondary;
  text-transform: uppercase;
  letter-spacing: 10/1000 + em;
}

.chartPeriod:global(.ui.dropdown .menu) {
}

.chartPeriod:global(.ui.dropdown .item.selected) {
}


.panelStatistic {
  justify-content: space-between !important;
  align-items: center !important;
  margin: -25px -15px !important;

  > * {
    width: auto !important;
    padding: 15px !important;
  }

  .left {
    margin-left: -20px;
    display: inline-flex !important;
    flex-wrap: wrap;

    > * {
      display: flex;
      align-items: center;
      margin: 10px 20px !important;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 10/1000 + em;
      color: $brand-secondary;

      > i {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        margin-right: 20px;
        font-size: 14px !important;
        line-height: 1 !important;
        color: inherit !important;
        border: 1px solid currentColor !important;
        border-radius: 50%;
      }
    }

    .exp {
      font-weight: 700;
      font-size: 16px;
    }
  }

  .right {
    font-size: 16px;
    line-height: 1;
    color: $brand-success;

    .total {
      font-weight: 700;
      font-size: 24px;
    }
  }
}


$table-border-color: #686868;

.table:global(.ui.table) {
  margin: 1em 0;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 16px;

  background-color: transparent;
  border: none;

  > thead  {
    > tr {
      > th {
        position: relative;
        padding: 20px 15px !important;
        border: none;
        background: transparent !important;
        color: $gray-lightest !important;
        font-weight: 700;
        font-size: 16px;

        &:hover {
          color: $brand-secondary !important;
        }

        &.sorted {
          color: $brand-secondary !important;
        }

        &:after {
          display: inline-block !important;
          content: '\f0dc';
        }

        &:nth-child(1) {
          width: 48%;
        }

        &:nth-child(3) {

          @include media('>sm') {
            display: flex;
            justify-content: flex-end;

            > span {
              min-width: 60px;
            }

            &:after {
              position: absolute;
              right: 20px;
              top: 46.5%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    @include media('<sm') {
      > tr {
        display: flex !important;
        padding: 0 !important;
        box-shadow: none;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        padding: 20px 15px;
        border-top: 1px solid $table-border-color;

        &:nth-child(1) {
          a {
            text-decoration: underline;

            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }

        &:nth-child(3) {
          white-space: nowrap;
          color: $brand-success;

          .exp {
            font-weight: 700;
          }

          @include media('>sm') {
            display: flex;
            justify-content: flex-end;

            > * {
              min-width: 60px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @include media('<sm') {
      > tr {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid $table-border-color;
        box-shadow: none !important;

        > td {
          &:first-child {
            width: 100% !important;
          }
        }
      }
    }
  }
}
