@import '../../../style/libs/include-media';
@import '../../../style/vars/default';

.divider {
  display: flex !important;
  align-items: center;
  margin: 50px 0 !important;
  color: $brand-secondary !important;

  &:before,
  &:after {
    display: inline-block !important;
    background: none !important;
    border-bottom: 1px solid currentColor;
  }

  &:before {
    margin-right: 30px;
  }

  &:after {
    margin-left: 30px;
  }
}

.form-agreed {
  margin: 35px 0 !important;
}

.images {
  display: inline-block;
  margin-top: 30%;
}

.avatar-dz {
  height: 350px !important;
  background-color: $gray;
  border-radius: 6px;
  overflow: hidden;
}

:global(.cropper-bg) {
  background: $gray url('/assets/bg-drop.png') repeat center;
}

:global(.cropper-drag-box) {
  opacity: 0.15;
}

:global(.cropper-crop-box) {
  min-width: 140px !important;
  min-height: 140px !important;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

:global(.cropper-crop-box .cropper-center) {
  display: none;
}


:global(.cropper-crop-box .cropper-line) {
  opacity: 0.6;
  background-color: #fff;
  right: auto;
  bottom: auto;
}
:global(.cropper-crop-box .cropper-line.line-e) {
  left: 66%;
  width: 1px;
}
:global(.cropper-crop-box .cropper-line.line-n) {
  top: 33%;
  height: 1px;
}
:global(.cropper-crop-box .cropper-line.line-w) {
  left: 33%;
  width: 1px;
}
:global(.cropper-crop-box .cropper-line.line-s) {
  top: 66%;
  height: 1px;
}


:global(.cropper-crop-box .cropper-point) {
  display: none;
  width: 12px;
  height: 12px;
  margin: 0;
  border-radius: 50%;
  background-color: $brand-secondary;
  opacity: 0;
}
:global(.cropper-crop-box .cropper-point.point-e) {
  display: block !important;
  top: 0;
  width: 15%;
  height: 100%;
}
:global(.cropper-crop-box .cropper-point.point-n) {
  display: block !important;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
}
:global(.cropper-crop-box .cropper-point.point-w) {
  display: block !important;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
}
:global(.cropper-crop-box .cropper-point.point-s) {
  display: block !important;
  bottom: 0;
  left: 0;
  height: 15%;
  width: 100%;
}
