@import '../../../style/vars/default';

$text-color: #e2e3e4;

.banner {
  display: inline-block;
  color: $text-color;

  a {
    position: relative;
    color: $brand-secondary;
    text-decoration: underline;
    z-index: 2;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 5px;
  }
}

:global(.ui.label) {
  &.tag {
    display: table !important;
    padding: 5px 10px;
    display: inline-block !important;
    color: $gray-lightest;
    background-color: transparent;
    font-weight: normal;
    font-size: 12px;
    transition: background .1s ease;
  }
}

:global(.ui.label).tag > :global(.delete.icon) {
  &:hover {
    color: $brand-secondary;
  }
}
