@import "../../../style/libs/include-media";
@import "../../../style/vars/default";

.row-rf {
  padding-top: 20px;
  padding-bottom: 40px;
}
.remember {
  float: left;
}
.forgot {
  float: right;
  cursor: pointer;
  color: $brand-secondary !important;

  &:hover {
    text-decoration: underline;
  }
}
