@import '../../../style/vars/default';
@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';

$ui-card-color: $gray-lightest-second;
$ui-card-divider-color: $gray-light;

.container-block {
  width: 100/3 + %;

  @include media('<xl') {
    width: 100/2 + %;
  }

  @include media('<md') {
    width: 100/1 + %;
  }
}

.container-block,
.list-item {
  padding: 0 15px;
  margin-bottom: 30px;
}

.container-block :global(.ui.card),
.list-item:global(.ui.segment) {
  padding: 30px;
  background-color: $gray-lighter;
  border: 1px solid $gray;
  border-radius: $border-radius-2x;
  box-shadow: none;
  color: $ui-card-color !important;
}

.container-block :global(.ui.card) {
  width: auto;
}


:global(.ui.divider) {
  .list-item &,
  .wrapper-block & {
    margin: 22px 0;
    font-weight: 700;
    letter-spacing: normal;
    border-width: 1px 0 0 0 !important;
    border-color: $ui-card-divider-color !important;
  }
}

:global(.ui.header .image) {
  .wrapper-block &,
  .list-item & {
    width: 80px;
    height: auto;
    border: 3px solid $gray-light;
  }
}

:global(.ui.header .image) {
  .wrapper-block & {
    margin: 0 auto 15px;
  }
}

.name {
  display: block;
  margin: 0 0 10px;
  color: $ui-card-color;
  font-weight: 400;
  font-size: 14px;
}

:global(.ui.header .sub.header) {
  .list-item &,
  .wrapper-block & {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: $ls40;
    color: $ui-card-color;
  }
}

.date {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $gray-lightest;
}

.title {
  margin: 15px 0 24px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 15/1000 + em;
  color: $brand-primary;
}

.desc {
  margin-bottom: 20px !important;
  font-size: 16px;
  line-height: 28/16 + em;
  letter-spacing: $ls10;
  color: $gray-lightest;
}

.content-bottom {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.more:global(.ui.button) {
  padding: 8px 12px;
  border: 1px solid currentColor;
  border-radius: $border-radius-2x;
  background-color: transparent;
  color: $brand-primary;

  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: $ls30;

  &:hover {
    background-color: $brand-primary;
    color: $gray-light;
    border-color: $brand-primary;
  }
}

.level {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: $ls30;
  color: $brand-success;
  white-space: nowrap;
}
