@import "../../../../style/libs/include-media";
@import "../../../../style/vars/default";

@mixin padding {
  padding: 0 15px;
}

.top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & > div {
    padding: 15px;
    width: 100/3 + %;
    min-width: 200px;
  }

  h3 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 30/1000 + em;
    color: $brand-secondary;
  }

  p {
    margin-bottom: 10px;
  }

  p > a {
    display: inline-block;
    letter-spacing: $ls10;
    color: $gray-lightest;
    transition: 200ms ease-in-out;
    text-decoration: none !important;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      height: 1px;
      transform-origin: 100% 50%;
      transform: scale(0);
      background-color: currentColor;
      transition: transform 200ms ease-in-out;
    }

    &:hover {
      color: $brand-secondary;

      &:after {
        transform: scale(1);
        transform-origin: 0 50%;
      }
    }
  }
}

.bottom {
  margin-bottom: 0 !important;
  padding: 5px 15px !important;

  > * {
    padding: 5px 10px !important;
  }
}

.copyright {
  color: $gray-lighter-second;
  letter-spacing: $ls10;
}

.social-wrapper {
  display:  inline-flex;
  flex-wrap: wrap;
}

.social-wrapper :global(.big.icons) {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin: 4px 0 4px 8px;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: $brand-secondary;
  text-decoration: none;
  transition: 120ms ease;

  &:hover {
    background-color: $brand-secondary;
    color: $gray-light;
  }

  i {
    font-size: 14px !important;
    display: inline-block;
    opacity: 1;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
  }
}

@include media('<sm') {
  .container {
    margin-left: -15px;
  }

  .bottom {
    text-align: center;

    > * {
      justify-content: center;
    }
  }
  .social-wrapper {
    width: 100%;
    justify-content: center;
  }
}
