@import "../../../style/libs/include-media";
@import '../../../style/vars/default';

:global(.ui.segment).container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: $gray;
}


.container:global(.ui.segment > .ui.grid) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;

  > * {
    padding: 10px;
    width: auto;
  }

  @include media('<md') {
    flex-wrap: wrap;
  }
  
  @include media('<sm') {
    justify-content: space-between;

    > * {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }
}