@import '../../../style/vars/default';
@import '../../../style/libs/include-media';

.accordions {
  .accordion {
    &:nth-of-type(1) {
      color: $brand-secondary;
    }

    &:nth-of-type(2) {
      color: $brand-success;
    }

    &:nth-of-type(3) {
      color: $brand-primary;
    }
  }
}

.accordion:global(.ui.styled.accordion) {
  margin-bottom: 30px;
  padding: 38px 30px;
  border: 1px solid $gray;
  border-radius: $border-radius-3x;
  background: $gray-lighter;
  box-shadow: none;
  overflow: hidden;
}

.accordion:global(.ui.accordion .title) {
  padding: 0;
  font-weight: 700;
  border-top: 1px solid rgba(34,36,38,.15);
  color: inherit !important;
  background-color: transparent !important;

  > * {
    align-items: center !important;
    justify-content: space-between !important;

    > * {
      width: auto !important;
      padding-top: 0;
      padding-bottom: 0;

      &:last-child {
        padding-left: 42px;
      }
    }
  }

  h4 {
    margin: 10px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28/22 + em;
    letter-spacing: 15/1000 + em;
    color: #ffffff;

    i {
      padding-right: 15px;
      font-weight: 400 !important;
      font-size: 14px;
    }

    > * {
      padding: 0;
    }
  }

  .level {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 10/1000 + em;
    white-space: nowrap;
    color: inherit !important;
  }

  .exp {
    font-weight: 700;
    font-size: 24/16 + em;
    line-height: 28px;
  }

  @include media('<sm') {
    > * {
      align-items: center !important;
      justify-content: space-between !important;

      > * {
        width: 100% !important;
      }
    }

    h4 {
      font-size: 16px;
    }
  }
}

.accordion:global(.ui.accordion > .content) {
  padding: 0;

  p {
    font-size: 14px;
    line-height: 24/14 + em;
    color: $gray-lightest;
    letter-spacing: 10/1000 + em;
  }
}

.accordion:global(.ui.accordion > .content > .ui.divider) {
  margin: 30px 0 35px;
  border-top: none;
  border-bottom: 1px solid $gray-light;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -90px;
  overflow: hidden;
}

.step {
  flex-grow: 0.05;
  min-width: 120px;
  position: relative;
  margin: 10px 0 30px 90px;
  color: inherit;
  text-align: center;
  cursor: pointer;

  h4 {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: inherit;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: inherit !important;
  }

  .stepIcon {
    position: relative;
    margin-bottom: 15px;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 60px;
      transform: translateX(calc(100% + 15px));
      border-top: 1px solid currentColor;
    }

    i {
      color: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 38px;
      line-height: 1;
      transform: translate(-50%, -50%);
      transition: 520ms linear;
    }

    svg {
      color: inherit;
      fill: transparent;
      stroke: currentColor;
      stroke-width: 2;
      stroke-miterlimit: 10;
      transition: 120ms linear;
    }
  }

  &:hover {
    svg {
      fill: $gray;
      stroke: $gray;
    }
  }

  &:last-child {
    .stepIcon:after {
      display: none;
    }
  }
}

.step:global(.active) {
  .stepIcon {
    i {
      color: $gray-light;
    }

    svg {
      fill: currentColor !important;
      stroke: currentColor !important;
    }
  }
}
