@import "../../../style/libs/include-media";
@import "../../../style/vars/default";

$menu-border-radius: 2px;

.nav-menu {
  display: inline-flex;
  border: 1px solid $brand-secondary;
  border-radius: $border-radius-2x;
  overflow: hidden;
}

:global(.ui.menu) {
  .nav-menu > & {
    display: flex;
    flex-wrap: wrap;
    min-height: auto;
    margin: -1px 0 0 -1px !important;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-align: center;
  }
}

:global(.ui.menu > .item) {
  .nav-menu > & {
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    min-width: 134px;
    padding: 7px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid $brand-secondary;
    border-width: 1px 0 0 1px;
    border-radius: 0 !important;
    color: $brand-secondary;
    text-transform: uppercase;

    &:before {
      display: none !important;
    }

    &:hover {
      background-color: $brand-secondary;
      color: $gray;
    }
  }
}

:global(.ui.menu > .item.active) {
  .nav-menu & {
    background-color: $brand-secondary;
    color: $gray;
  }
}
