@import '../../../style/libs/include-media';
@import '../../../style/vars/default';

$sidebar-width: 320;
$sidebar-space: 30;

.container  {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding: $content-offset 0;
  margin: 0 $sidebar-space + px 0 0;
  border-radius: 0;
  background-color: $gray-lighter;
  color: #fff;
  box-shadow: none;
  font-weight: 400;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid $gray;
    z-index: 15;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, $gray-lighter 35%, rgba($gray-light, 0.15) 85%) !important;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: 200ms ease;
    z-index: 1;
  }

  &:hover {
    &:after {
      transform: scale(1);
    }
  }
}

:global(.ui.button).btn-visibility {
  position: absolute;
  top: 0;
  right: -$sidebar-space + px;
  bottom: 0;
  width: $sidebar-space + px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.60rem;
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  transition: all 200ms !important;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, $gray-lighter 35%, $gray-light 85%) !important;
    transition: 200ms ease;
  }

  .chevron {
    margin: 0 !important;

    &[aria-hidden=true] {
      color: $pink !important;
    }
  }

  &:focus {
    background-color: transparent !important;
  }

  &:hover {
    background-color: transparent !important;

    .chevron {
      color: $pink;
    }
  }

  .container:hover & {
    &:before {
      width: 100%;
    }
  }
}

.container :global(.ui.menu) {
  width: 24%;
  min-width: $sidebar-width + px;
  min-height: 100vh;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none !important;
  background-color: $gray-lighter;
}

.container :global(.ui.menu) :global(.page-title) {
  padding: 0 $sidebar-space/$sidebar-width*100%;
  margin: 0 0 40px !important;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: $ls30;
}

.container :global(.ui.divider) {
  margin: $sb-section-divider-v $sidebar-space/$sidebar-width*100% !important;
}

.container :global(.item) {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 56/16 + em;
  padding: 10/16 + em ($sidebar-space/$sidebar-width*100%) !important;
  font-size: 16px !important;
  line-height: 20px !important;

}
