// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #f56151;
$orange: #f56151;
$yellow: #feef01;
$green:  #94df97;
$blue:   #1c1936;
$teal:   #10c9cc;
$pink:   #e9538b;
$purple: #8a90ff;


// Create grayscale
$gray-base:                 #151515;
$gray-dark:                 #2f2f2f;
$gray:                      #383838;
$gray-light:                #424242;
$gray-lighter:              #535353;
$gray-lighter-second:       #989898;
$gray-lightest:             #dddddd;
$gray-lightest-darken:      rgba($gray-lightest, 0.60);
$gray-lightest-second:      #fefefe;

// Reassign color vars to semantic color scheme
$brand-primary:             $purple;
$brand-secondary:           $pink;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;

$text-color: $brand-inverse;

// Fonts
$roboto-condensed: 'Roboto Condensed', sans-serif;

$font-family-base: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

%lnr {
  font-family: $font-family-base;
  font-family: 'Linearicons-Free' !important;
	speak: none !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Letter spacing
$ls10: 10/1000 + em;
$ls30: 30/1000 + em;
$ls40: 40/1000 + em;
$ls80: 80/1000 + em;


// border-radius
$border-radius-1x: 2px;
$border-radius-2x: 4px;
$border-radius-3x: 6px;
$border-radius-large: 12px;


// content
$content-offset: 7.36vh; // 70px


// Sidebar
$sidebar-width: 320;
$sidebar-space: 30;
$sb-section-divider-v: 3.15vh; // 30px
