@import '../../../style/vars/default';
@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';

.skills {
  padding-left: 52px;
  margin-top: 30px;
  color: #ffffff;

  > * {
    &:nth-child(2),
    &:nth-child(3) {
      color: $brand-success;
    }
  }
}

.title {
  float: left;
  margin-left: -52px;
  color: $gray-lightest;
}
