@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';
@import '../../../style/vars/default';

.panelHeader:global(.ui.grid) {
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 22px;
    letter-spacing: 15/1000 + em;
  }

  > * {
    width: auto !important;
  }
}

.balance {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 10/1000 + em;
  color: $brand-success;
  text-align: right;

  > * {
    vertical-align: middle;
  }

  i {
    font-size: 32/16 + em;
    margin-right: 15/32 + em;
  }

  .right {
    display: inline-block;
    margin: 0;
  }

  .sum {
    font-weight: 700;
    font-size: 24/16 + em;
  }

  .currency {
    font-weight: 700;
    vertical-align: bottom;
  }
}

.filter {
  margin-bottom: 25px !important;
}

$table-bg: transparent;
$table-color: #ffffff;
$table-heading-color: $gray-lightest;
$table-border-color: #686868;

.table:global(.ui.table) {
  margin: 1em 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: $table-bg;
  color: $table-color;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 10/1000 + em;

  tr {

    box-shadow: none !important;

    th {
      padding-top: 0 !important;
      padding-bottom: 20px;
      border-bottom: none;
      line-height: 28px !important;
      background: $table-bg;
      text-align: inherit;
      color: $table-heading-color;

      &:last-child {
        padding-right: 30px;
        text-align: right;
      }
    }
    td {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid $table-border-color;

      &:first-child {
        padding-left: 36px !important;

        a {
          white-space: nowrap;
        }

        i {
          float: left;
          margin: 1px 0 0 -24px;
        }
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  @include media('<sm') {
    > thead {
      > tr {
        padding-top: 0 !important;
      }
    }

    tr {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $table-border-color;

      td {
        width: auto !important;

        &:nth-child(1) {
          width: 100% !important;
        }
      }
    }
  }
}

.iconMinus,
.iconPlus {
  @include hide-text;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  background-color: currentColor;
  color: inherit;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 8px;
    height: 1px;
    color: inherit;
    color: $gray-lighter;
    background-color: currentColor;
  }
}

.iconPlus {
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.iconMinus {
  &:after {
    display: none;
  }
}

.inbound-operation {
  color: $brand-success;
}
.outbound-operation {
  color: $brand-danger;
}
.inbound-sum {
  white-space: nowrap;
  font-weight: 700;
  color: $brand-success;
}
.outbound-sum {
  white-space: nowrap;
  font-weight: 700;
  color: $brand-danger;
}
