@import '../../../style/vars/default';
@import '../../../style/libs/include-media';

:global(.ui.segment.panel-profile) {
  padding: 30px 30px 40px;

  > * {
    flex-wrap: nowrap;
  }
}

.panel-content {
  flex-wrap: nowrap !important;
  color: $gray-lightest;

  > * {
    &:first-child {
      width: 210px !important;
      flex-shrink: 0;
    }
  }

  @include media('<sm') {
    flex-wrap: wrap !important;
  }
}

.top:global(.ui.grid) {
  flex-wrap: nowrap !important;
  justify-content: space-between;

  > * {
    width: auto !important;
  }
}

.avatar {
  border: 3px solid $gray;
}

.name {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.edit {
  width: 34px;
  height: 34px;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: $brand-secondary;
  cursor: pointer;
  transition: 120ms ease;

  &:hover {
    background-color: $brand-secondary;
    color: $gray-lighter;
  }
}

.edit :global(.icon.circle) {
  visibility: hidden;
  opacity: 0;
}

.skills {
  margin-bottom: 25px;
}

.skills :global(.ui.progress) {
  margin-bottom: 15px;
}

.skills-details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;

  > * {
    margin-bottom: 0;
  }

  .level {
    font-weight: 700;
    color: $brand-primary;
    letter-spacing: 30/1000 + em;
  }
}

.list {
  color: #ffffff;

  p {
    margin-bottom: 14px;
    font-size: 14px;

    > * {
      letter-spacing: 5/1000 + em;

      &:first-child {
        color: #c2c4ca;
      }
    }
  }

  .add-number {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    text-decoration: none;
  }
}

.character {
  h5 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 15/1000 + em;
  }

  p {
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: 10/1000 + em;
  }
}
