@import '../../../style/vars/default';

.container {
  margin-bottom: 14px;
  border: none;
  border-radius: 6px;
  background: rgba($gray, 0.85) url('/assets/bg-drop.png') repeat center;
  cursor: pointer;
  text-align: center;
  min-height: 140px;
  padding: 20px 20px 15px;
  overflow: hidden;

  img, canvas {
    max-width: 100%;
    height: 100% !important;
  }
}

.child {
  content: '';
  display: inline-block;
  height: 100%;
}
