@import '../../../style/libs/include-media';
@import '../../../style/vars/default';

:global(.ui.massive.loader) {
  &::before, &::after {
    width: 8rem;
    height: 8rem;
  }
  &.spinner {
    position: absolute;
    left: 47%;
    top: 40%;
  }
}

.content-container  {
  position: relative;
  display: flex;
  background-color: $gray-light;
}

.content-main {
  width: 100%;
  padding: 0 10px 0 0;
}
