@import '../../../style/vars/default';
@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';

.search {
  margin-bottom: 10px;
}

.grid-control:global(.ui.buttons) {
  border: 1px solid $brand-secondary;
  border-radius: $border-radius-2x;
  overflow: hidden;
}

.grid-control :global(.ui.button) {
  width: 38px;
  height: 30px;
  padding: 9px 12px;
  color: $brand-secondary;
  background-color: $gray-light;

  &:nth-child(2) {
    &:before,
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 2px;
      margin-bottom: 3px;
      background-color: currentColor;
    }

    &:after {
      margin-bottom: 0;
    }
    i {
      display: block !important;
      margin: 0 0 3px 0 !important;
      width: 14px;
      height: 2px;
      background-color: currentColor;

      &:before {
        display: none !important;
      }
    }
  }

  &:nth-child(1) {
    position: relative;

    &:before,
    &:after,
    > i:before,
    > i:after {
      content: '' !important;
      display: block !important;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -2px 0 0 -2px;
      width: 4px;
      height: 4px;
      background-color: currentColor !important;
    }

    &:before {
      transform: translate(-4px, -4px)
    }

    &:after {
      transform: translate(4px, -4px)
    }

    > i:before {
      transform: translate(4px, 4px)
    }

    > i:after {
      transform: translate(-4px, 4px)
    }

    > i {
      display: block !important;
      width: auto;
      height: auto;
      margin: 0 !important;
      padding: 0;
    }
  }
}

.grid-control :global(.ui.button.active) {
  background-color: $brand-secondary;
  color: $gray;
}