@import '../../../../style/libs/include-media';
@import '../../../../style/vars/default';

.items {
  position: relative;
  margin: 0 (24/$sidebar-width*100%);
  border-radius: $border-radius-large;
  overflow: hidden;
  z-index: 1;
}

.item {
  margin-bottom: 1px;
  background-color: lighten($gray-light, 1) !important;
  color: $gray-lightest !important;
  cursor: pointer;

  &:before {
    display: none !important;
  }
}

.sidebar-section-divider {
  &:nth-of-type(1) {
    color: $brand-secondary !important;
  }

  &:nth-of-type(3) {
    color: $yellow !important;
  }
}

.item:hover,
.item:global(.active) {

  background-color: $gray-light !important;

  .sidebar-section-divider:nth-of-type(1) ~ .items & {
    color: $brand-secondary !important;
  }

  .sidebar-section-divider:nth-of-type(3) ~ .items & {
    color: $yellow !important;
  }
}
