@import '../../../../style/libs/include-media';
@import '../../../../style/vars/default';

.item::before {
  width: 0;
}

.sidebar-section-divider {
  &:nth-of-type(1) {
    color: $brand-secondary !important;

    ~ .item:hover {
      color: $brand-secondary !important;

      > * {
        background-color: $brand-secondary !important;
      }
    }
  }

  &:nth-of-type(2) {
    color: $yellow !important;

    ~ .item:hover {
      color: $yellow !important;

      > * {
        background-color: $yellow !important;
      }
    }
  }

  &:nth-of-type(3) {
    color: $brand-success !important;

    ~ .item:hover {
      color: $brand-success !important;

      > * {
        background-color: $brand-success !important;
      }
    }
  }
}

.item {
  color: #ffffff !important;

  &:before {
    display: none !important;
  }

  &:hover {
    background-color: rgba(#ffffff, 0.03) !important;
  }
}

.menu:global(.ui.menu) :global(.ui.label) {
  display: inline-block;
  min-width: 30px;
  padding: 4px 3px;
  margin: 0 .14285714em;
  font-weight: 700;
  font-size: 12px;
  background-color: $gray-lighter-second;
  color: $gray-light;
  border-radius: 9px;
  text-align: center;
}
