@import "../../../../style/libs/include-media";
@import "../../../../style/vars/default";

.column-left,
.column-right {
  width: 100% !important;

  @include media('>sm') {
    width: auto !important;
    flex-grow: auto;
    min-width: 260px;
  }
}

.column-center {
  flex-grow: 1 !important;
  text-align: center;

  @include media('<md') {
    order: 2;
    width: 100% !important;
  }
}

:global(.ui.basic.button) {
  &.account {
    padding: 12px 30px;
    color: $yellow !important;
    box-shadow: 0 0 0 1px $yellow inset !important;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    transition: 200ms ease;

    &:hover,
    &:focus {
      color: $yellow !important;
      box-shadow: 0 0 0 1px $yellow inset !important;
    }
  }

  &.active {
    box-shadow: none !important;
    color: $yellow !important;
  }
}

.active {
  box-shadow: none !important;
}
