@import 'vars/default';

$ui-button-radius: 2px;

.ui.button {
  font-family: $font-family-base;
  border-radius: $ui-button-radius;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  box-shadow: none !important;
  outline: none !important;
}

.ui.buttons > .ui.button {
  &:first-child {
    border-top-left-radius: $ui-button-radius;
    border-bottom-left-radius: $ui-button-radius;
  }
  &:last-child {
    border-top-right-radius: $ui-button-radius;
    border-bottom-right-radius: $ui-button-radius;
  }
}

.ui.button.basic.purple {
  background-color: transparent;
  color: $brand-primary !important;
  box-shadow: 0 0 0 1px $brand-primary inset !important;

  &:focus {
    background-color: transparent;
    color: $brand-primary !important;
    box-shadow: 0 0 0 1px $brand-primary inset !important;
  }

  &:hover,
  &.loading {
    background-color: $brand-primary !important;
    color: #ffffff !important;
    box-shadow: 0 0 0 1px $brand-primary inset !important;
  }
}

.ui.button.basic.pink {
  background-color: transparent;
  color: $brand-secondary !important;
  box-shadow: 0 0 0 1px $brand-secondary inset !important;

  &:focus {
    background-color: transparent;
    color: $brand-secondary !important;
    box-shadow: 0 0 0 1px $brand-secondary inset !important;
  }

  &:hover,
  &.loading {
    background-color: $brand-secondary !important;
    color: #ffffff !important;
    box-shadow: 0 0 0 1px $brand-secondary inset !important;
  }
}

.ui.button.yellow {
  background-color: $yellow;
  color: $brand-secondary;
  border-color: $yellow;

  &:focus {
    background-color: $yellow;
    color: $brand-secondary;
    border-color: $yellow;
  }

  &:hover,
  &.loading {
    background-color: $brand-secondary;
    color: #ffffff;
  }
}

.ui.button.submit {
  padding: 23px 60px;
  letter-spacing: 60/1000 + em;
}
