@import "vars/default";
@import "libs/include-media";
@import "libs/mixins";

$input-bg: #e5e5e5 !important;
$input-bg-hover: #ffffff !important;
$input-color: #3c414a;

$label-color: $gray-lightest-darken !important;
$label-color-hover: #ffffff !important;

// $input-height: 50px;
$input-fz: 16;
$input-lh: 20/$input-fz + em;
$input-padding: 14/$input-fz + em 20px;
$input-padding-select-multiple: 4px 20px;

.ui.form,
.ui.input {
  input:not([type]),
  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=file],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  textarea {
    padding: $input-padding;
    font-family: $font-family-base;
    background: $input-bg;
    color: $input-color;
    border: 1px solid transparent;
    border-color: transparent !important;
    font-size: $input-fz + px;
    line-height: $input-lh;
    outline: none !important;
    box-shadow: none !important;
    transition: background-color .1s ease, color .1s, border-color .1s ease;

    @include placeholder($gray !important);

    &:focus {
      background: $input-bg-hover;
    }
  }

  textarea {
    padding: 10px 20px;
    line-height: 28px;
    min-height: 180px;
  }

  .field {
    margin-bottom: 25px;

    label {
      margin: 0 0 15px 0;
      font-weight: 400;
      font-size: 14px;
      color: $label-color;
      transition: color .1s ease,border-color .1s ease;

      &::after {
        display: none !important;
      }
    }

    &.field input:-webkit-autofill {
      box-shadow: none !important;
      border-color: transparent !important;
    }

    &:hover {
      label {
        color: $label-color-hover;
      }

      input:not([type]),
      input[type=date],
      input[type=datetime-local],
      input[type=email],
      input[type=file],
      input[type=number],
      input[type=password],
      input[type=search],
      input[type=tel],
      input[type=text],
      input[type=time],
      input[type=url],
      textarea {
        background: $input-bg-hover;
      }
    }

    // validation
    &.error * {
      color: $brand-danger !important;
      border-color: $brand-danger !important;
    }

    &.success * {
      color: $brand-success !important;
      border-color: $brand-success !important;
    }
  }
}


.form-select {

  &.disabled {
    opacity: 1 !important;
  }

  &:hover {
    .ui.selection.dropdown {
      background-color: $input-bg-hover;
    }
  }

  .ui.selection.dropdown {
    font-size: $input-fz + px;
    line-height: $input-lh;
    background: $input-bg;
    transition: background-color .1s ease, color .1s, border-color .1s ease;
    border: none;

    &:focus {
      background: $input-bg-hover;
    }

    input[type=text] {
      font-size: inherit;
      line-height: inherit;
    }

    .menu {
      box-shadow: none;
      border-color: transparent !important;
      background-origin: padding-box;
      background-clip: padding-box;

      > .item {
        padding: $input-padding !important;
        border: none;
        font-weight: 400 !important;
        font-size: $input-fz + px;
        line-height: $input-lh;
        color: $input-color !important;

        &:hover,
        &.selected {
          background-color: $input-bg;
        }
      }
    }

    &.multiple {
      padding: $input-padding-select-multiple;
      padding-right: 30px !important;

      &.disabled {
        opacity: 1 !important;
      }

      input[type=text] {
        height: 32px;
        font-size: $input-fz;
        line-height: $input-lh;
        padding: 6px 0;
        margin: 5px 0;
        background-color: transparent !important;
        border-radius: none;
      }

      > .label {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        padding: 0 0 0 14px;
        margin: 5px 10px 5px 0;
        border-radius: 16/14 + em;
        box-shadow: inset 0 0 0 1px rgba($brand-secondary, 1);
        background: transparent;
        color: $brand-secondary;
        overflow: hidden;

        .delete.icon {
          width: 36px !important;
          height: 32px !important;
          margin: 0 !important;
        }

        &:hover {
          background-color: $brand-secondary;
          color: #fff;

          .delete.icon {
            background: url("/assets/tag-close-white.png") no-repeat center !important;
          }
        }
      }
    }

    &:not(.multiple) {
      padding: $input-padding;

      input[type=text] {
        top: 0;
        left: 0;
        height: 100%;
        padding: $input-padding;
        padding-right: 30px !important;
      }
    }

    .dropdown.icon {
      position: absolute;
      top: 50%;
      right: 0;
      width: 24px !important;
      height: 24px !important;
      margin: -12px 6px 0 0 !important;
      padding: 0 !important;
      font-family: 'Icons' !important;
      font-size: 18px;

      &:before {
        content: '\f107' !important;
      }

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0 !important;
        border: 3px solid rgba(0,0,0,.1) !important;
        border-radius: 50% !important;
      }

      &:before {
        border-color: rgba(#000, 0) !important;
      }

      &:after {
        border-color: $brand-secondary transparent transparent !important;
      }
    }

    &.loading .dropdown.icon {
      &:before {
        content: '' !important;
        border-color: rgba(#000, 0.1) !important;
      }
    }
  }
}

$checkbox-bg: transparent !important;
$checkbox-color: #dbe3e5 !important;
$checkbox-color-hover: #ffffff !important;

.ui.checkbox .box,
.ui.checkbox label {
  color: $checkbox-color;

  .field.error & {
    color: $brand-danger !important;
  }

  .field.success & {
    color: $brand-success !important;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid currentColor !important;
    border-radius: 1px;
    background-color: $checkbox-bg;
  }

  &:after {
    color: inherit !important;
    font-size: 8px;
  }

  &:hover,
  &:focus {
    color: $checkbox-color-hover;

    &:before {
      border: 2px solid $checkbox-color-hover;
    }

    &:after {
      color: $checkbox-color-hover;
    }
  }
}

.delete.icon {
  position: relative;
  display: inline-block !important;
  vertical-align: middle;
  width: 10px !important;
  height: 10px !important;
  margin-left: 10px !important;
  background: url('/assets/tag-close.png') no-repeat center !important;
  transition: 120ms;
  opacity: 1 !important;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1px !important;
    height: 1px !important;
    font-size: 0 !important;
    box-shadow: 0 0 20px 15px rgba($brand-secondary, 0.0);
    border-radius: 50%;
    transition: 120ms;
  }

  &:hover:before {
    box-shadow: 0 0 20px 15px rgba($brand-secondary, 0.30);
  }
}
