@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import "vars/default";
@import "libs/include-media";
@import "libs/mixins";

$body-bg: #424242;

body {
  margin: 0;
  font-family: $font-family-base;
  background-color: $body-bg;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/assets/pattern.png') repeat 50%,
                url('/assets/bg-page.jpg') no-repeat 50% 25% / cover;
    opacity: 0.10;
    z-index: 0;
  }
}

$link-color:            $brand-primary;
$link-hover-color:      darken($brand-primary, 0);

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

h2 {
  letter-spacing: $ls30;
}

.full {
  width: 100%;
}

%font-base {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  @extend %font-base;
}

h2 {
  font-weight: 400;
  font-size: 32/14 + rem;

  &.ui.header {
    line-height: 1.2;
  }
}

.page-title,
.section-title {
  margin-bottom: 30px;

  h2 {
    margin: 45px 0 40px;
    color: #fff;
  }
}

.ui.segment.panel {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid $gray;
  border-radius: $border-radius-3x;
  background-color: $gray-lighter;
  box-shadow: none;
  color: #ffffff;

  .ui.divider {
    margin: 30px 0;
    line-height: 1;
    border: 1px solid $gray-light;
    border-width: 1px 0 0 0;
  }

  .progress {
    background-color: $gray;
  }
}

.ui.menu, .ui.header {
  @extend %font-base
}

.ui.card {
  box-shadow: none;
  border: none;
}

.pointer {
  cursor: pointer;
}

.pull-right {
  float: right;
}

.cf {
  @include cf();
}

.ui.progress {
  height: 6px;
  margin: 10px 0 12px;

  .bar {
    height: 100%;
  }
}

.ui.striped.progress .bar {
  background-size: 25px 25px;
  background-image: linear-gradient(135deg,
  rgba(255,255,255,.26) 25%, transparent 25%, transparent 50%,
  rgba(255,255,255,.26) 50%,
  rgba(255,255,255,.26) 75%, transparent 75%, transparent
  );
}

.ui.progress.purple .bar {
  background-color: $brand-primary !important;
  box-shadow: 0 0 30px 10px rgba($brand-primary, 0.25), 0 0 30px 5px rgba($brand-primary, 0.15);
}

.ui.progress.pink .bar {
  background-color: $brand-secondary !important;
  box-shadow: 0 0 30px 10px rgba($brand-secondary, 0.25), 0 0 30px 5px rgba($brand-secondary, 0.15);
}


i.icon.purple {
  color: $purple !important;
}
i.icon.pink {
  color: $pink !important;
}
i.icon.green {
  color: $green !important;
}
i.icon.orange {
  color: $orange !important;
}
i.icon.yellow {
  color: $yellow !important;
}

.ui.message {
  &.negative {
    color: $brand-danger;

    .header {
      color: inherit;
    }
  }
}

.icon.icon-info {
  position: relative;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid currentColor !important;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
}

.icon.icon-info.purple {
  color: $brand-primary !important;

  &:hover {
    background-color: $brand-primary;
    color: $gray !important;
  }
}

.icon-add-plus {
  position: relative;
  height: 28px;
  width: 28px;
  border: 2px solid;
  border-radius: 50%;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 12px;
    margin: -6px 0 0 -1px;
    background-color: currentColor;
  }

  &:after {
    transform: rotate(-90deg);
  }

  &.pink {
    color: $brand-secondary;
  }
}

.icon-with-circle {
  margin-right: 0 !important;
}

i.icon.yellow {
  color: $yellow !important;
}

.text-center {
  width: 100%;
  text-align: center;
}

.content-offset {
  margin-top: $content-offset !important;
  margin-bottom: 80px;
}

.form_container {
  width: 100%;
  max-width: 670px;
  padding: 60px !important;
  margin: 10vh auto !important;
  border: 1px solid $gray !important;
  background-color: $gray-lighter !important;
  color: $gray-lightest;
  box-shadow: none !important;

  & > div,
  & > img,
  & > button {
    margin-bottom: 15px;
  }

  .ui.header {
    margin: 0 0 40px;
    color: $brand-secondary;
    text-transform: uppercase;
    font-size: 28px;

    + br {
      display: none;
    }
  }

  .text-title {
    margin: 20px 0;
  }

  .drop-avatar {
    margin-bottom: 45px;
  }

  .ui.form .field {
    margin-bottom: 25px;

    > label {
      display: block;
      margin: 0 0 15px 0;
      color: #dddddd;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      text-transform: none;
    }
  }

  @include media('<sm') {
    max-width: none;
    width: auto;
    padding: 60px 60/768*100vw !important;
    margin: 10vh 10px !important;
  }
}

.ui.horizontal.divider {
  display: flex;
  align-items: center;
  color: $brand-secondary;
  letter-spacing: $ls30;

  &.divider-title {
    margin-bottom: 60px !important;
    border: none !important;
  }

  &:before,
  &:after {
    background: none !important;
    border-top: 1px solid currentColor;
  }

  &:before {
    margin-right: 15/14 + em;
  }

  &:after {
    margin-left: 15/14 + em;
  }

  &.purple {
    color: $brand-primary;
  }
}

.top-level {
  &.low {
    color: $green !important; // level 1
  }

  &.middle {
    color: $yellow !important; // level 6
  }

  &.hight {
    color: $orange !important; // level 15
  }
}

.table-responsive {
  overflow: hidden;
  overflow-x: auto;
  min-height: 1px;

  table.ui.table {
    display: table !important;
    min-width: 600px;
    margin-top: 0;

    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group !important;
    }

    tr {
      display: table-row !important;
    }

    th,
    td {
      display: table-cell !important;
    }
  }
}

.ui.dropdown {
  .dropdown.icon {
    @extend %lnr;

    &:before {
      content: '\e874' !important;
    }
  }

  &[aria-expanded=true] {
    .dropdown.icon {
      transform: scale(-1);
    }
  }

  .menu {
    background: transparent !important;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid $brand-secondary !important;
    border-radius: 0 0 $border-radius-1x * 1.5 $border-radius-1x * 1.5;

    > .item {
      height: auto;
      padding: 5px 15px !important;
      border: none !important;
      font-weight: 400;
      font-size: inherit !important;
      line-height: inherit !important;
      color: $brand-secondary !important;
      background-color: $gray-lighter !important;

      &:hover {
        background-color: $brand-secondary !important;
        color: $gray !important;
      }

      &.active {
        font-weight: 400;
        background-color: $brand-secondary !important;
        color: $gray !important;
      }
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 30px;
}

.filters .ui.dropdown {
  font-size: 14px;
  line-height: 20px;
  min-width: auto;
  min-height: 32px;
  padding: 5px 35px 5px 15px;
  margin: 5px 15px 5px 0;

  border-radius: $border-radius-1x * 1.5;
  border: 1px solid currentColor !important;
  background-color: transparent;
  color: $brand-secondary !important;

  .default.text {
    font-weight: 400;
    font-size: inherit !important;
    line-height: inherit !important;
    color: $brand-secondary !important;
  }

  &.active.visible {
    border-radius: $border-radius-1x * 1.5 $border-radius-1x * 1.5 0 0;
    border-color: $brand-secondary !important;
    background-color: $brand-secondary !important;
    color: $gray !important;

    > .text {
      color: inherit !important;
    }
  }

  .menu {
    background: transparent !important;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid $brand-secondary !important;
    border-top: none !important;
    border-radius: 0 0 $border-radius-1x * 1.5 $border-radius-1x * 1.5;

    > .item {
      height: auto;
      padding: 5px 15px !important;
      border: none !important;
      font-weight: 400;
      font-size: inherit !important;
      line-height: inherit !important;
      color: $brand-secondary !important;
      background-color: $gray-lighter !important;

      &:hover {
        background-color: $brand-secondary !important;
        color: $gray !important;
      }

      &.active {
        background-color: $brand-secondary !important;
        color: $gray !important;
      }
    }
  }
}
