@import '../../../style/vars/default';
@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';

$select-option-hover: rgba(#fff, 0.03);
$select-option-active: rgba(#fff, 0.03);

.container {
  width: 100%;
}

.block-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
