@import "../../../../style/libs/include-media";
@import "../../../../style/vars/default";

.row {
  margin: -0.85rem -1rem !important;

  @include media('<md') {
    > * {
      flex-grow: 1 !important;
      max-width: 100%;
      padding: 5px 10px !important;
    }
  }
}

.row :global(.ui.header) {
  @include media('<sm') {
    width: 100%;
  }
}

.column-left {
  width: auto;

  @include media('>sm') {
    flex-grow: 0;
    min-width: 320px;
    padding-right: 30px !important;
    margin-right: 20px !important;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 30px;
      margin-top: -15px;
      border-right: 1px solid $gray-lighter;
    }
  }
}

.column-center {
  flex-grow: 1 !important;

  @include media('<md') {
    width: 100% !important;
    order: 2;
    text-align: center;
  }
}

.column-right {
  width: 420px;
  flex-shrink: 0;

  > * {
    display: flex;
    align-items: center;
  }

  .r-block-center {
    flex-grow: 1;
    max-width: 100%;
    padding: 0 !important;
  }

  @include media('<md') {
    > * {
      flex-wrap: wrap;
    }
  }

  @include media('<xs') {
    .avatar {
      order: -2;
    }

    .r-block-center {
      width: 100%;
    }

    .buttons {
      order: -1;
      flex-grow: 1;
      display: flex !important;
      justify-content: flex-end;
    }
  }
}

:global(.ui.header .image).logo {
  vertical-align: top !important;
  width: auto;
  max-width: 140px;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.level {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
  font-size: inherit;
  line-height: 1;
  letter-spacing: $ls30;
}

.specs {
  float: right;
  font-weight: 400;
  font-size: inherit;
  line-height: 1;
  color: $gray-lightest;

  > * {
    &:first-child:after {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
    }
  }
}

.left-skill {
  font-size: 12px;
  line-height: 1;

  .level {
    color: $brand-primary;
  }
}

.right-skill {
  font-size: 12px;
  line-height: 1;

  .level {
    color: $brand-secondary;
  }
}

.avatar {
  position: relative;
  margin: 10px 20px 10px 0 !important;

  &.active {
    &:before {
      position: absolute;
      content: '';
      top: -3px;
      right: -3px;
      width: 13px;
      height: 13px;
      background-color: $brand-success;
      border-radius: 50%;
      border: 3px solid $gray;
    }
  }

  img {
    border-radius: 50% !important;
    margin: 0 !important;
  }
}

.name {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 14px;
  color: $gray-lightest;

  > * {
    color: #ffffff;
  }
}

:global(.ui.header .content).buttons {
  vertical-align: middle;
}

.btn:global(.ui.button) {
  position: relative;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 5px 0 0 10px;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: $brand-secondary;
  background-color: transparent;
  text-align: center;

  &:hover {
    background-color: $brand-secondary;
    color: $gray;
  }

  > * {
    margin: 0 !important;
  }
}

.active {
  box-shadow: none !important;
}
