@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';
@import '../../../style/vars/default';

.panelHeader:global(.ui.grid) {
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 22px;
    letter-spacing: 15/1000 + em;
  }

  > * {
    width: auto !important;
  }
}

.panel :global(.list .item) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 0 15px !important;
  font-size: 16px;
  letter-spacing: 10/1000 + em;
  color: #ffffff;
  border-top: 1px solid #686868 !important;
}

.panel :global(.list .item .content) {
  margin: 0;
  width: 50%;
  padding-bottom: 14px;

  &:first-child {
    display: flex;
    order: 1;
    justify-content: flex-end;
  }

  > * {
    display: flex;
  }

  .text {
    margin-right: 14px;
  }

  i {
    &:nth-of-type(1) {
      margin-right: 14px;
    }
  }

  @include media('<md') {
    width: 100%;

    &:first-child {
      display: flex;
      order: 1;
      // justify-content: flex-start;
    }
  }
}

.panel :global(.list .item .button) {
  margin-left: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 30/1000 + em;
  white-space: nowrap;
}

.experience {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 10/1000 + em;
  color: $brand-success;
  text-align: right;

  > * {
    vertical-align: middle;
  }

  i {
    font-size: 32/16 + em;
    margin-right: 15/32 + em;
  }

  .number {
    font-weight: 700;
    font-size: 24/16 + em;
  }
}

.test-success {
  color: $brand-success;
}
.test-failed {
  color: $brand-danger;
}
