@import "../../../style/libs/include-media";
@import "../../../style/vars/default";

.container {
  width: 100%;
  display: flex;
  margin: 27px 0 43px;

  & > div {
    margin: 0 auto !important;
  }
}

:global(.ui.pagination.menu) {
  width: 100%;
  padding: 0 130px;
  justify-content: center;
  position: relative;
  min-height: auto;
  margin: 0;
  font-family: $font-family-base;
  background: transparent;
  font-weight: 700;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

:global(.ui.pagination.menu .item) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 28px;
  min-width: auto;
  height: 28px;
  padding: 0 !important;
  margin: 3px !important;
  border: none !important;
  font-size: 14px;
  line-height: 1;
  border-radius: 50%;
  box-shadow: none !important;
  background: transparent;
  color: #fff;
  font-weight: inherit;
  text-transform: uppercase;

  &:after {
    content: '';
    height: 1px;
    width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 28px 15px rgba($brand-secondary, 0);
    transition: 120ms;
  }
  &:hover {
    &:after {
      box-shadow: 0 0 28px 15px rgba($brand-secondary, 0.3);
    }
  }
  &:active {
    &:after {
      box-shadow: 0 0 28px 10px rgba($brand-primary, 0.3);
    }
  }

  &:before {
    display: none;
  }

  &:first-child,
  &:last-child {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -14px !important;
    letter-spacing: 60/1000 + em;

    &:after {
      display: none;
    }

    &.disabled {
      display: none;
    }
  }

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;

    > * {
      order: 2;
      margin: 0 0 0 5/14 + em;
    }
  }

  &:hover {
    color: $brand-secondary;
  }
}

:global(.ui.pagination.menu .item.active) {
  color: $gray;
  background-color: $brand-secondary;
}

:global(.ui.pagination.menu .item.disabled) {
  color: $gray-lighter-second;
}
