@import '../../../../style/libs/include-media';
@import '../../../../style/vars/default';

.container  {
  display: flex;
}

:global(.ui.button).btn-visibility {
  position: relative;
  width: 30px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.60rem;
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  transition: all 200ms !important;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, $gray-lighter 35%, $gray-light 85%) !important;
    transition: 200ms ease;
  }

  .chevron {
    margin: 0 !important;

    &[aria-hidden=true] {
      color: $brand-secondary !important;
    }
  }

  &:focus {
    background-color: transparent !important;
  }

  &:hover {
    background-color: transparent !important;

    .chevron {
      color: $brand-secondary;
    }
  }

  .container:hover & {
    &:before {
      width: 100%;
    }
  }
}

.item::before {
  width: 0;
}

.menu {
  width: 24% !important;
  min-width: 320px !important;
}

:global(.ui.menu).menu {
  height: 100%;
  border: 1px solid $gray;
  border-width: 0 1px 0 0;
  padding: $content-offset 0;
  margin: 0;
  border-radius: 0;
  background-color: $gray-lighter;
  color: #fff;
  box-shadow: none;
  font-weight: 400;
}

:global(.ui.menu).menu :global(.page-title) {
  padding: 0 30/370*100%;
  margin: 0 0 40px !important;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: $ls30;
}

.sidebar-section-divider {
  margin: $sb-section-divider-v 40/370*100% !important;

  &:nth-of-type(1) {
    color: $brand-secondary !important;

    ~ .item:hover {
      color: $brand-secondary !important;

      > * {
        background-color: $brand-secondary !important;
      }
    }
  }

  &:nth-of-type(2) {
    color: $yellow !important;

    ~ .item:hover {
      color: $yellow !important;

      > * {
        background-color: $yellow !important;
      }
    }
  }

  &:nth-of-type(3) {
    color: $brand-success !important;

    ~ .item:hover {
      color: $brand-success !important;

      > * {
        background-color: $brand-success !important;
      }
    }
  }
}


.item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 56/16 + em;
  padding: 10/16 + em (30/370*100%) !important;
  color: #ffffff !important;
  font-size: 16px !important;
  line-height: 20px !important;

  &:before {
    display: none !important;
  }

  &:hover {
    background-color: rgba(#ffffff, 0.03) !important;
  }
}

:global(.ui.menu).menu :global(.ui.label) {
  display: inline-block;
  min-width: 30px;
  padding: 4px 3px;
  margin: 0 .14285714em;
  font-weight: 700;
  font-size: 12px;
  background-color: $gray-lighter-second;
  color: $gray-light;
  border-radius: 9px;
  text-align: center;
}

