@import '../../../style/vars/default';
@import '../../../style/libs/include-media';

@mixin control-width {
  width: 50%
}

.container {
  width: 100%;
  margin-bottom: 80px;
}

.container :global(.ui.form .eight.wide.field) {
  @include media('<lg') {
    width: 100% !important;
  }
}

$header-color: #c2c4ca;

:global(.ui.segment.panel-quest-new) {
  padding: 30px 30px 40px;
}

.panel-header {
  color: $header-color;

  .title {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: $header-color;
  }
}

.panel-header:global(.ui.header .icon) {
  width: auto;
  height: auto;
  font-size: 32px;
  vertical-align: top;
}

.panel-header :global(.content) {
  padding-left: 20px !important;
}


.subheader p {
  margin-bottom: 0;
  line-height: 24px;
  color: $header-color;

  &:before {
    content: '-';
    float: left;
    display: inline-block;
    margin-left: -7px;
  }
}

.field-desc {
  textarea {
    height: 220px;
  }
}

.stack-tags {
  @include control-width;
  margin-bottom: 20px;

  & > a {
    margin-bottom: 5px !important;
  }
}

.attachments {
  @include control-width;
}
