@import "../../../style/vars/default";
@import "../../../style/libs/include-media";

.container {
  width: 100%;
  margin: 30px 0 60px;
}

.wrapper {
  display: block;
  height: 100%;
  text-align: center;
}

.wrapper :global(.icon-add-plus) {
  margin-bottom: 10px;
}

.add-text {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: $brand-secondary;
}
