@import '../../../style/vars/default';
@import '../../../style/libs/include-media';

.panelTop:global(.ui.segment) {
  flex-wrap: nowrap !important;
  color: $gray-lightest;
  padding: 30px 30px 1rem;

  > * {
    flex-wrap: nowrap;

    > * {
      margin-bottom: 10px;

      &:first-child {
        width: 110px !important;
        flex-shrink: 0;
      }
    }
  }
}

.avatar {
  border: 3px solid $gray;
}

.skills :global(.ui.progress) {
  margin-bottom: 15px;
}

.skills-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;

  > * {
    margin-bottom: 0;
  }

  .level {
    font-weight: 700;
    color: $brand-primary;
    letter-spacing: 30/1000 + em;
  }
}
