@import '../../../style/vars/default';
@import '../../../style/libs/include-media';
@import '../../../style/libs/mixins';

.panel {
  padding-bottom: 30px;
}

.header:global(.ui.grid) {
  color: $gray-lightest;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;

  > * {
    width: auto !important;
    padding: 0 !important;

    &:first-child {
      margin-right: 30px;
    }
  }

  + * {
    margin-top: 20px !important;
  }
}

.avatar:global(.ui.image) {
  width: 80px !important;
  margin: 10px 30px 10px 0;
  height: auto;
  border: 3px solid $gray;
}

.header :global(.content) {
  padding-left: 0 !important;
}

.name {
  display: block;
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;

  span {
    color: $gray-lightest;
  }
}

.header :global(.sub.header) {
  p {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 40/1000 + em;
    color: $gray-lightest;
  }
}

.experiance {
  color: $green;

  p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}


.dataCreated {
  font-size: 12px;
  line-height: 1;
  color: $gray-lightest;
  text-transform: uppercase;
}

.panelBody {
  h2 {
    margin: 20px 0 25px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    letter-spacing: 15/1000 + em;
  }

  p {
    margin-bottom: 25px;
    color: $gray-lightest;
    font-size: 16px;
    line-height: 28/16 + em;
    letter-spacing: 10/1000 + em;
  }

  .label {
    margin: 35px 0 20px;
    font-size: 16px;
    color: #ffffff;
  }

  + * {
    margin-top: 15px !important;
  }
}

.files {
  margin-left: -20px;
  text-align: left;
}

.file {
  display: inline-table;
  margin: 0 0 15px 20px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  & > i {
    display: block;
    margin: 0 auto;
    min-height: 35/28 + em !important;
    font-size: 28/12 + em !important;
  }

  label {
    color: rgba($gray-lightest, 0.60);
  }
}

.panelRequest {
  .form {
    margin-bottom: 30px;
  }
}

.comments {
  margin-top: 40px;
}

.comment {
  margin-bottom: 20px;
}

.comment:global(.ui.grid) {
  flex-wrap: nowrap;

  > * {
    &:first-child {
      flex-shrink: 0 !important;
      width: 95px !important;
    }

    &:last-child {
      width: 100% !important;
    }
  }
}

.comment {
  .topDivider {
    margin: 20px 0 30px !important;
  }

  .desc {
    p {
      color: $gray-lightest;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 10/1000 + em;

      &:nth-last-child(n+2) {
        margin-bottom: 15px;
      }
    }
  }

  &:nth-last-child(n+2) {
    padding-bottom: 35px !important;
  }
}

.comment :global(.ui.image) {
  border: 3px solid $gray;
}

.commentHeader {
  justify-content: space-between !important;
  align-items: center !important;

  > * {
    width: auto !important;
  }

  .name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .level {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 40/1000 + em;
    white-space: nowrap;
  }

  .date {
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    color: $gray-lightest;
    text-transform: uppercase;
  }
}

